<%= form_for(@interface) do |f| %>
  <% if @interface.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@interface.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @interface.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :json %><br />
    <%= f.file_field :json %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>