<h1>Space Invaders PLUS</h1>
<h2>Green Squares are BAD!!! Defend the Earth! Join the Allied Factions today!</h2>

<% if user_signed_in? %>
	<!--<p>
	  <b>Name:</b>
	  <%= @interface.name %>
	</p>
	 
	<p>
	  <b>Interface:</b>
	</p>-->
	<p id="interfaces_page">
		<script>
			window.user_name = "<%= current_user.name %>";
		</script>
	  <!--<%= @interface.json %>-->
	</p>
	
	<p>Welcome <%= current_user.name %> (<%= current_user.email %>)! <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
	
	<ul>
		<li>You must login with Facebook to play</li>
		<li><b>The game plays on another screen, but you controll it from here</b></li>
		<li>You'r tank will apear on the screen as soon as this page is loaded</li>
		<li>Refresh this page to get a new tank on the screen</li>
	</ul>
	
	<h3>What's Space Invaders PLUS?</h3>
	<p>It's Space Invaders, but PLUS! Instead of one lonely tank defending our beloved earth, a small army kills these attacking enemies with awesome powers!<p>
	<p>That army's called The Allied Factions, and you can be part of it TODAY! As a matter of fact, as you opened this page, you probably already are!<p>
		
	<h3>How to play this game?</h3>
	<p>Pretty simple. By opening the page you're currently on, you joined The Allied Factions! You probably found this url on a Big Screen, right? Look at it, there's a tank there you control! Use <b>left</b> and <b>right</b> to move, <b>spacebar</b> to shoot! Kill those horrible ugly green squares, defend your planet!</p>
	
	<h3>What if there's no Big Screen around?</h3>
	<p>Then you can set one up yourself. To do so, you need to have a Big Screen attatched to a computer with internet. Open a full screen browser on that screen, preferably Google Chrome, and go to <a href="http://remotely.heroku.com/apps/spp">http://remotely.heroku.com/apps/spp</a>. Once the page is done loading, you can start playing by visting the page you are on right now.</p>
	
	<h3>Please be advised!</h3>
	<p>Use only one Big Screen at a time. If there are multiple Big Screens, members of the Allied Factions will show up on all Big Screens, causing major confusion!</p>

<% else %>
	<p><%= link_to "Login with Facebook to play!", user_omniauth_authorize_path(:facebook) %></p>
	
	<ul>
		<li>You must login with Facebook to play</li>
		<li><b>The game plays on another screen, but you controll it from here</b></li>
		<li>You'r tank will apear on the screen as soon as this page is loaded</li>
		<li>Refresh this page to get a new tank on the screen</li>
	</ul>
	
	<h3>What's Space Invaders PLUS?</h3>
	<p>It's Space Invaders, but PLUS! Instead of one lonely tank defending our beloved earth, a small army kills these attacking enemies with awesome powers!<p>
	<p>That army's called The Allied Factions, and you can be part of it TODAY! <%= link_to "Just sign in and get playing!", user_omniauth_authorize_path(:facebook) %>.<p>
		
	<h3>How to play this game?</h3>
	<p>Pretty simple. By <%= link_to "loging in with Facebook", user_omniauth_authorize_path(:facebook) %>, you will joine The Allied Factions! You probably found this url on a Big Screen, right? After <%= link_to "login", user_omniauth_authorize_path(:facebook) %> a tank will apear there that you control! Kill those horrible ugly green squares, defend your planet!</p>
	
	<h3>What if there's no Big Screen around?</h3>
	<p>If you've logged in to this screen, you're also allowed to start a Big Screen!  To do so, you need to have a Big Screen attatched to a computer with internet. Open a full screen browser on that screen, preferably Google Chrome, and go to <a href="http://remotely.heroku.com/apps/spp">http://remotely.heroku.com/apps/spp</a>. Once the page is done loading, you can start playing by visting the page you are on right now.</p>
	
	<h3>Please be advised!</h3>
	<p>Use only one Big Screen at a time. If there are multiple Big Screens, members of the Allied Factions will show up on all Big Screens, causing major confusion!</p>
	 
<% end %>