<p>
	<% if user_signed_in? %>
		Welcome <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% else %>
		Welcome guest! <%= link_to "Sign up", new_user_registration_path %>, <%= link_to "login", new_user_session_path %> or <%= link_to "login with Facebook", user_omniauth_authorize_path(:facebook) %>. 
	<% end %>
</p>
