<!DOCTYPE html>
<html>
<head>
  <title>Remotecontroll</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'prototype', 'scriptaculous', 'http://js.pusherapp.com/1.9/pusher.min.js', 'application', 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= render "layouts/user_status" %>
<h1><%= link_to 'Remotely', root_path() %></h1>
<%= yield %>

</body>
</html>
